
<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/stylesheets.css" class="rel">
   <div class="row">
      <h1 class="text-conter h1 text-center " style="color: #68D3BD;" >New Place</h1>
        <form action="/5starplaces" method="POST" novalidate style="margin: auto;" class="validated-form w-75 shadow-lg p-3 mb-5 bg-body rounded" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label  " for="title">Title</label>
                <input class="form-control" type="text" id="title" name="placeground[title]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="placeground[location]"required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
         
         
<!-- 
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="location" name="placeground[image]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div> -->
             <div class="mb-3">
                <label class="form-label" for="price">Place price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="placeground[price]" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
             </div>

         <div class="col-md-4">
                <label for="duration" class="form-label">State</label>
                <select id="inputState" class="form-select" name="placeground[duration]">
                <option selected>Choose...</option>
                 <% for (let durationes of duration) { %>
                      <option  value="<%= durationes %>"><%=durationes %> </option>
                    <% } %> 
                   
                </select>
            </div>

                <div class="mb-3 mt-3">
                 
                   <div class=" col-md-4">
                    <label class="form-label mr-3" for="typeplace">Select:</label>
                    <select  class="form-select" aria-label="Default select example" name="placeground[typeplace]" id="typeplace">
                     
                        <% for (let typeplacee of typeplacees) { %>
                      <option  value="<%= typeplacee %>"><%=typeplacee %> </option>
                    <% } %> 
                   
                 </div>
            </select>
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="location" name="placeground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">Choose Image(s)</label>
                <div class="form-file custom-file">
                      <input class="form-control custom-file-input" type="file" id="image" name="image" multiple onchange="previewMultiple(event)">
                      <label for="image" class="form-label custom-file-label"></label>
                  </div>
                  <div id="formFile"></div>
              </div>

               <div class="mb-3 d-flex justify-content-center">
                <button class="btn "style="background-color: #224B60;">Add Place</button>
               </div>
            <!-- <a href="/5starplaces">All Placeground</a> -->
        </form>
      </div>
   </div>
