<% layout('layouts/boilerplate') %> 

    <!-- <h1>Register</h1> -->
    <form action="/register" method="POST" enctype="multipart/form-data" style="background-color: #fff;" class="form">
    
        <!-- logo section  -->
        <!-- <img src="/img/OIG.jpg" style="max-width: 33%; margin: auto;" alt=""> -->
    
    <!-- <choose image local> section...  -->
    <div class="">
        <!-- <label class="form-label">Choose Image</label> -->
        <div class="container-1">
            
            <input class="choseImage" id="campground-image"  type="file" accept="image/*" name="avatarSrc" placeholder="Choose Image.." autocomplete="off">
        </div> 
    </div>

        <!-- username section  -->
        <div class="user-name">
            <label for="username">Username </label>
            <div class="container-1">
                <i class="fa fa-user-o user" aria-hidden="true"></i>
                <input  type="text" id="username " name="username" placeholder="Username (case sensitive)"required>
                <!-- <input id="username" class="form-control" pattern="^[A-Za-z0-9]+$" title="May only contain a-z and 0-9" type="text" name="username" placeholder="Username (case sensitive)" required autofocus> -->
            </div>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <!-- Email section  -->
        <div class="user-name">
            <label  for="email">Email</label>
            <div class="container-1">
                <i class="fa fa-user-o user" aria-hidden="true"></i>
                <input  type="email" id="email" name="email"  placeholder="Email Address"required>
            </div>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <!-- Firstname section  -->
        <div class="user-name">
            <label for="first-name">First Name</label>
            <div class="container-1">
                <i class="fa fa-user-o user" aria-hidden="true"></i>
                <input id="first-name"  type="text" name="firstName" placeholder="First Name" required>
            </div>
        </div>

        <!-- lastname section  -->
        <div class="user-name">
            <label for="last-name">Last Name</label>
            <div class="container-1">
                <i class="fa fa-user-o user" aria-hidden="true"></i>
                <input id="last-name" type="text" name="lastName" placeholder="Last Name" required>
            </div>
        </div>

   

    <!-- Admain permation -->
    <!-- <div class="mb-3">
        <label class="form-label" for="email">Admain</label>
        <input class="form-control" type="adminCode" id="adminCode" name="adminCode" placeholder="Admin code" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div> -->

    <!-- password section  -->
    <div class="password">
        <label  for="password">Password</label>
        <div class="container-1">
            <i class="fa fa-lock lock" aria-hidden="true"></i>
            <input  type="password" id="password" name="password">
        </div>    
        <!-- <input id="password" class="form-control" type="password" name="password" placeholder="Password (case sensitive)" required>
        <label for="password">Password (case sensitive)</label> -->
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
   
    <!-- Register section -->
    <div class="sign">
        <button class="sign">Register</button>
    </div>
     <!-- login -->
     <div class="sign">
        <a href="/login">already have an account? log in</a>
    </div>

    <!-- balls section -->
    <div class="container-2">
        <div class="balls"></div>
        <div class="balls"></div>
    </div>
</form>